

.spinner {
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 4rem 0;
    text-align: center;
  }

.center {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20%;
    width: 64%;  
  }

  .accordion {
    padding-left: 20%;
  }

  .accordionTitle {
    display:flex;
  }
  
  